rule_url=https://rules.emergingthreatspro.com/|emerging.rules.tar.gz|open
ignore=local.rules
temp_path=/tmp
out_path=/opt/snort2922/etc/etopen/
sid_msg=/opt/snort2922/etc/etopen/sid-msg.map
sid_changelog=/opt/snort2922/var/log/sid_changes.log
snort_path=/opt/snort2922/bin/snort
config_path=/opt/snort2922/etopen/snort.conf
#enablesid=/usr/local/etc/snort/enablesid.conf
#dropsid=/usr/local/etc/snort/dropsid.conf
#disablesid=/usr/local/etc/snort/disablesid.conf
#modifysid=/usr/local/etc/snort/modifysid.conf
snort_version=2.9.0

version=0.6.0
